.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .inner {
        background-color: #8b8686;
        width: 1150px;
        min-height: 1000px;
        display: flex;
        .content {
            flex: 1;
        }
    }
}
